<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <Fragment>
      <PackageGroup Id="DIAViewCorePackageGroup">
        <!-- 安装运行时 -->
        <MsiPackage Id="DIAViewSetup.msi"
          SourceFile="C:\Users\xingchun.ji\AppData\Local\Temp\DiaviewPack\OutputMSI\DIAView\en-us\DIAViewSetup.msi"
          Compressed="no"
          ForcePerMachine="yes"
          Permanent="no"
          Vital="yes"
          DisplayInternalUI="no">
          <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        </MsiPackage>

        <!-- 安装用户工程 -->
        <MsiPackage Id="UserProjectMsi.msi"
          SourceFile="C:\Users\xingchun.ji\AppData\Local\Temp\DiaviewPack\OutputMSI\DIAView\en-us\UserProjectSetup.msi"
          Compressed="yes"
          ForcePerMachine="yes"
          Permanent="no"
          Vital="yes"
          DisplayInternalUI="no">
        </MsiPackage>

      </PackageGroup>

  </Fragment>
</Wix>
